<!DOCTYPE html>
<html>
<head>
   {{>headerLinks}}
</head>
<body>

    {{>navbar}}
    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <!-- left side div -->
                <div class="row">
                    <!-- right side div -->
                <div class="col-md-6 col-12 main_header_right">
                    <figure>
                        <img src="/images/about.png" alt="alternate logo" title="Pravinya">
                    </figure>
                </div>

                  <div class="col-md-6 col-12 main_header_left">
                    <p>Welcome to weather App</p>
                    <h1>I am a<span> software developer </span> by passion and ENtc engineer by degree</h1>
                    <a href="https://www.google.com/" target="_blank"><button>About me</button></a>
                </div>

                </div>
            </div>
        </div>
    </div>
    <!-- footer code -->
    {{>footer}}
</body>
</html>